body {
  margin: 0px;
  padding: 0px;
  background-color: #F5F5F5; }

.image {
  display: inline;
  clear: none; }
  .image p {
    margin-left: 10px;
    font-size: 29px;
    font-family: Helvetica, arial, sans-serif;
    position: absolute;
    margin: 0px;
    margin-left: 2px;
    margin-top: 91px;
    z-index: 2;
    background-Color: #006E2E;
    color: #ffffff;
    width: 80px;
    text-align: center;
    font-size: 10pt; }
  .image img {
    z-index: 1;
    border: 0px; }

.photo {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 180px;
  padding-top: 40px;
  height: 120px;
  margin: 3px;
  float: left; }

#main span.link {
  font-family: Helvetica, arial, sans-serif;
  color: #fff;
  margin-left: 0;
  padding: 5px;
  padding-left: 7px;
  color: #fff;
  background: #006E2E;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  font-size: 16px;
  line-height: 10px;
  display: none; }
#main span.share {
  display: none;
  padding-left: 3px; }

#content {
  width: 1004px;
  float: left;
  margin: 0px;
  padding-left: 110px; }

#banner {
  width: 1004px;
  height: 55px;
  float: left;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat; }

#contentleft {
  float: left;
  margin: 0px;
  padding: 28px 0 19px 69px; }

#logo {
  margin-left: 40px;
  margin-top: 10px;
  float: left;
  background: url(/images/logo.png) no-repeat; }
  #logo h1 {
    font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: black;
    margin-top: 54px;
    margin-left: 33px; }

#options {
  font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size: 11px;
  color: black;
  margin-left: 5px;
  padding-bottom: 5px; }

#link {
  color: #0063DC; }
