body {
	margin:0px;
	padding:0px;
	background-color: #F5F5F5;
}

.image {
	display: inline;
	clear: none;
}

.image p {
	margin-left: 10px;
	font-size: 29px;
	font-family: Helvetica, arial, sans-serif;
	position: absolute;
	margin: 0px;
	margin-left: 2px;
	margin-top: 91px;
	z-index:2;
	background-Color: #006E2E;
	color: #ffffff;
	width: 80px;
	text-align: center;
	font-size: 10pt;
}

.image img {
	z-index:1;
	border: 0px;
}

.photo {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	display: block;
	width: 180px;
	padding-top: 40px;
	height: 120px;
	margin: 3px;
	float: left;
}

.photo_balloon {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	display: block;
	width: 75px;
	padding-top: 40px;
	height: 36px;
	margin: 3px;
	float: left;
}

#main span.link {
	font-family: Helvetica;
	color: #fff;
	margin-left: 0;
	padding: 5px;
	padding-left: 7px;
	color: #fff;
	background: #006E2E;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	font-size: 13px;
	line-height: 10px;
	display: none;
}

#main span.link a {
	color: #fff;
	text-decoration: none;
}

#main span.link a:hover {
	color: #fff;
	text-decoration: underline;
}

#main span.share {
	display: none;
	padding-left: 3px;
	margin-top: 40px;
}

#content {
	width:1004px;
	float:left;
	margin:0px;
	padding-left:110px;
}

#banner {
	width:1004px;
	height:55px;
	float:left;
	margin:0px;
	padding:0px;
	background-repeat: no-repeat;
}

#contentleft {
	float:left;
	margin:0px;
	padding:18px 0 19px 69px;
}

#contentleft_balloon {
	float:left;
	margin:0px;
	padding:1px 0 19px 69px;
}

#logo {
	margin-left:40px;
	margin-top:10px;
	float:left;
}

#logo h1{
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:13px;
	color:black;
	margin-top:14px;
	margin-left:33px;
}

#options {
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:11px;
	color: black;
	margin-left:5px;
	padding-bottom:5px;
}

#flickr {
	color: #FF0084;
}

#twitter {
	color: #4096EE;
}

a {
  color: black;
	text-decoration: none;
}

a:hover {
  color: black;
	text-decoration: underline;
}

#footer {
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:11px;
	color: black;
	padding-left:72px;
	padding-top:480px;
}

#footer_images {
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:11px;
	color: black;
	padding-left:72px;
	padding-top:520px;
}

#images {
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:11px;
	color: black;
	padding-left:12px;
	width: 100%;
	padding-top:20px;
}

.current {
	color: #006E2E;
	font-weight: bold;
}

#listticker{
	height:201px;
	overflow:hidden;
	
	padding:0px 0px 0px 0px;
}

#listticker li{
	border:0; margin:0; padding:0; list-style:none;
}

#listticker li{
	height:60px;
	padding:5px;
	list-style:none;
}

#listticker a{
	color:#000000;
	margin-bottom:
}

#listticker .news-title{
	display:block;
	font-weight:bold;
	margin-bottom:4px;
	font-size:11px;
}

#listticker .news-text{
	display:block;
	font-size:11px;
	color:#666666;
}

#listticker img{
	float:left;
	margin-right:14px;
	padding:3px;
	border:solid 1px #DEDEDE;
}

.avatar {
	
	border: 1px solid #fff;
}

#tweet {
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:12px;
}

#tweet_options {
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:11px;
	color: gray;
}

#tweet_user {
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight: bold;
	color: #4096EE;
}




#top-left, #top-right, #bottom-left, #bottom-right {
	  float: left;
	  width: 15px;
	  height: 15px;
	}

	#top-middle, #bottom-middle {
	  background-color: white;
	  float: left;
	  width: 725px;
	  height: 15px;
	}

	#top-left {
	  background-image: url(/images/tl.png);
	}

	#top-right {
	  background-image: url(/images/tr.png);
	}

	#bottom-left {
	  background-image: url(/images/bl.png);
	}

	#bottom-right {
	  background-image: url(/images/br.png);
	}

	#container_balloon {
	  width: 755px;
	  margin: 0 auto;
	  padding: 1px 0;
	  text-align: left;
	  position: relative;
		margin-top: 1px;
	}

	#content_balloon {
	  padding-bottom: 10px;
	}

	.wrapper_balloon {
	  background-color: white;
	  padding: 5px 15px 5px 20px;
	  clear: both;
	}
		.subpage #content_balloon {
	  padding-top: 11px;
	  background: url(/images/arrow.gif) no-repeat 32px 0px;
	  margin-top: 6px;
	}